/Proceso/build/
/Logica/nbproject/private/
/Modulo Impresión/nbproject/private/
/Conexion/nbproject/private/
/Conexion/build/
/Conexion/dist/
/Vista/build/
/Vista/dist/
/Vista/nbproject/private/